body {
	font-size: 50px;
	padding: 0px;
	margin: 0px;
}

#root {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.value {
	margin: 5px;
}

#unknown-value {
	font-size: 50px;
	width: 55px;
	height: 55px;
}

#next-task {
	width: 63px;
	height: 63px;
	margin: 10px;
	font-size: 50px;
}

.wrong {
	background-color: rgba(255, 146, 146, 0.637);
}

.correct {
	background-color: rgba(123, 255, 123, 0.671);
}
